<main>
  {{{back}}}
  <div class="flex-col-horisontal-center profile_body__data">
    {{{avatar}}}
    <p>{{name}}</p>
    <div class="full-width" style="margin: 20px 0 0 0;">
      {{{items}}}
      <div class="profile_body__actions">{{{actions}}}</div>
    </div>
  </div>
</main>