<main>
  {{{back}}}
  <div class="flexColHorisontalCenter profileBody__data">
    {{{avatar}}}
    <p>{{name}}</p>
    <div class="fullWidth" style="margin: 20px 0 0 0;">
      {{{items}}}
      <div class="profileBody__actions">{{{actions}}}</div>
    </div>
  </div>
</main>