<div class="profile_item">
  <span class="profile_item__key">{{key}}</span>
  <input
    name="{{name}}"
    id="{{id}}"
    type="{{type}}"
    value="{{value}}"
    class="profile_item__input"
  />
</div>
