{{#if isSubmit}}
  <button
    disabled
    type={{type}}
    class="flexCenter roundedButton roundedButtonDisabled"
  >
    <img src="{{image}}" alt="back" class="{{arrowClasses}}" />
  </button>
{{else}}
  <button type={{type}} class="flexCenter roundedButton">
    <img src="{{image}}" alt="back" class="{{arrowClasses}}" />
  </button>
{{/if}}