<div class="fullWidth chatItem">
  {{{avatar}}}
  <div class="chatItem__middle">
    <span class="chatItem__name">{{name}}</span>
    <p class="chatItem__message">{{lastMessage}}</p>
  </div>
  <div class="chatItem__end">
    <span class="chatItem__last-message-time">{{lastMessageTime}}</span>
    <span class="chatItem__unread-messages-count">
      {{unreadMessagesCount}}
    </span>
  </div>
</div>